<launch>
  <arg name="robot" default="full"/>

  <!-- Diff drive controller multipliers -->
  <rosparam command="load" file="$(find mrp2_controller_configuration)/config/mobile_base_controller_multipliers.yaml"/>

  <!-- Robot model -->
  <include file="$(find mrp2_description)/robots/upload_mrp2.launch">
    <arg name="robot" value="$(arg robot)"/>
  </include>

  <!-- Bring up robot -->
  <include file="$(find mrp2_bringup)/launch/mrp2_bringup.launch"/>
  <include file="$(find mrp2_bringup)/launch/starter_amcl.launch"/>
</launch>
